
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link active" href="{% url 'home:home' %}">Home</a>
            {% if request.user.is_authenticated %}
            <!--  in {{cart}} eshare dare be context_processor. darvaghe kilide on dictionary hastesh. age beri be file context.processors.py mitooni bebinish. karaish ine ke hameja dar dastrese tooye har tab i ke beri mishe ino bebini ke tooye in morede ma moshakhas kardim vasash ke tedade jensaye tooye sabade kharid ro neshoon bede. length badesh ham vase ine ke miad toole in cart ro mishmare -->
            <a class="nav-link active" href="{% url 'orders:cart' %}">CART {{ cart|length }}</a>             

            <a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a>
            {% else %}
            <a class="nav-link active" href="{% url 'accounts:user_register' %}">Register</a>
            <a class="nav-link active" href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
            {% if request.user.is_admin %}
            <a class="nav-link active" href="{% url 'home:bucket' %}">Bucket</a>
            {% endif %}
            <a class="nav-link active" href="{% url 'home:about' %}">About us</a>
        </div>
    </div>
</nav>

